<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
          <div class="logo"><a href="index.html">AbdoCenter</a></div>
          <nav>
            <i class="fas fa-bars toggle-menu"></i>
            <ul>
              <li><a href="../index.html" target="_parent">الصفحة الرئيسية</a></li>
              <li><a href="../pages/services.html" target="_parent">قائمة الخدمات</a></li>
              <li><a href="../pages/questions.html" target="_parent">أسئلة مكررة</a></li>
              <li><a href="../pages/terms.html" target="_parent">شروط الاستخدام</a></li>
              <li><a href="../pages/API.html" target="_parent">API</a></li>
            </ul>    
            <div class="form">
              <a href="../pages/register.html" target="_parent"><i class="fa-solid fa-user-plus"></i><p>سجل</p></a>
            </div>
          </nav> 
      </div>
    </header>